{:paths ["src"
         "resources"]
 :deps
 {clj-http/clj-http         {:mvn/version "3.10.0"}
  environ/environ           {:mvn/version "1.2.0"}
  integrant/integrant       {:mvn/version "0.8.0"}
  metosin/reitit            {:mvn/version "0.5.2"}
  org.clojure/clojure       {:mvn/version "1.10.1"}
  org.postgresql/postgresql {:mvn/version "42.2.14"}
  ovotech/ring-jwt          {:mvn/version "1.2.5"}
  ring/ring                 {:mvn/version "1.8.1"}
  seancorfield/next.jdbc    {:mvn/version "1.0.462"}
  }

 :aliases
 {:dev
  {:extra-deps
   {cider/cider-nrepl {:mvn/version "0.25.4"}
    integrant/repl    {:mvn/version "0.3.1"}
    ring/ring-mock    {:mvn/version "0.4.0"}}
   :extra-paths ["dev/src" "dev/resources"]
   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
